.boxtext {
	.caja {
		display: flex;
		flex-wrap: wrap;
	}
	.in-flex {
		flex: 1;
		min-width: 250px;
		&:first-child {
			flex: 2;
			padding: 25px;
			background-color: $colorfondobox;
			margin: 20px;
			margin-bottom: 0px;
			font-size: $tamparrafobox;
			line-height: 1.6;
			
		}
		div {
			padding: 25px;
			background-color: $colorfondobox;
			margin: 20px;
			font-size: $tamparrafobox;
			line-height: 1.6;
			
		}
	}
}
