$colormenu:  #8D6939;
$tamlogo: 75px;
$colortituloencabezado: beige;
$tamtituloencabezado: 2.5rem;

$fondobody: beige;

$colorp: #8D6939;
$tamparrafo: 1.6rem;

$colortitulos:  #8D6939;
$tamtitulos: 2.5rem;

$colorsubtitulo: #8D6939;
$tamsubtitulo: 2.5rem;

$colorfondobox: yellow;
$tamparrafobox: 1.5rem;

$colortituloformulario:  #8D6939;
$tamtituloformulario: 2.6rem;